<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneshow.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.oneshow.user.entity.User">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="cover" property="cover" />
        <result column="mobile" property="mobile" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="create_time" property="createTime" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <result column="nick_name" property="nickName" />
    </resultMap>

</mapper>
